.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
  }
}

.subtitle {
  margin-bottom: 12px;

  font-family: 'Montserrat';

  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.title {
  margin-bottom: 40px;
  font-family: 'Seymour One';

  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 120px;
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}
