.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
  }
}

.subtitle {
  margin-bottom: 12px;

  font-family: var(--main-font);

  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: var(--dark-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.title {
  margin-bottom: 40px;
  font-family: var(--secondary-font);

  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--dark-txt-cl);

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 120px;
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}

.products__item {
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-radius: 24px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 56px;
  }
}
.products__item--green {
  background-color: var(--green-cl);
}

.products__item--yellow {
  background-color: var(--yellow-cl);
}

.products__item--brown {
  background-color: var(--brown-cl);
}

.products__title {
  margin-bottom: 40px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--dark-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 27px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;

    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.products__desc {
  margin-bottom: 90px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--dark-txt-cl);

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
.open {
  border: none;
  background-color: transparent;
}
